.todo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    min-height: 4rem;
    border-radius: 0.5rem;
    padding: 0.2rem;
    background-color: white;
    cursor: pointer;
    margin: 0.3rem 0;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.buttonTodo {
    font-size: 1.3em;
    cursor: pointer;
}
